!!! 5
html
  head
    title bizirc
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('bootstrap-responsive.min')
    != css('subway')

    script
      var ENV = '#{env}',
          PORT = #{port};
    != js('client')
    include templates

  body
    block content
