script(id="chat_application", type="text/html")
  div(class="navbar navbar-fixed-top")
    div.navbar-inner
      div.container-fluid
        a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a(href='#').brand bizirc
        div(class="btn-group pull-right")
          a(class="btn dropdown-toggle", data-toggle="dropdown", href="#")
            i.icon-user 
            span Username 
            span.caret
          ul.dropdown-menu
            li
              a(href="#") Profile
            li
              a(href="#") Signout

        form(class="navbar-search pull-right", action="")
          input(type="text", class="search-query", placeholder="Search")

        div.nav-collapse
          ul.nav
            li
              a(class="announce", data-toggle="modal", data-id="") 
                i(class="icon-edit icon-white") &nbsp;
                span(style="cursor: pointer;") &nbsp;Private Message
  
  .sidebar
    #channels
  .content


  div(class="modal hide", id="privateMessage")
    div.modal-header
      button(type="button", class="close", data-dismiss="modal") x
      h3 Private Message
    div.modal-body
      input(type="text", name="userId", id="UserId", value="", placeholder="Username")
      textarea(class="input-xxlarge", id="privateMessage-text", autofocus="autofocus", placeholder="Message")
    div.modal-footer
      a(href="#", class="btn", data-dismiss="modal") cancel
      a(href="#", class="btn btn-primary", id="privateSend-button") Send

script(id="load_image", type="text/html")
  img(id="loading_image", src="/assets/images/loading.gif")

script(id="overview_home", type="text/html")
  p Welcome to Bizirc!
  ul
    li.overview_button#connection
      img(src="/assets/images/connection.svg")
      span New Connection
    li.overview_button#settings
      img(src="/assets/images/settings.svg")
      span Settings
    li.overview_button#login
      img(src="/assets/images/login.svg")
      span Login
    li.overview_button#register
      img(src="/assets/images/register.svg")
      span Register

script(id="overview", type="text/html")
  #overview

script(id="overview_connection", type="text/html")
  h1 IRC Connection
  #home_parent
    a.overview_button#home Home
  form.form-horizontal
    .control-group
      .controls
        input#connect-server(type="text", placeholder="Server URL", class="input-large", value="irc.freenode.net")
    .control-group
      .controls
        input#connect-port.input-small(type="text", placeholder="port", class="input-large", value="6667")
    .control-group
      .controls
        input#connect-secure(type="checkbox") 
        p SSL
    .control-group#ssl-self-signed
      .controls
        input#connect-selfSigned(type="checkbox")
        p Self-signed SSL Cert
    .control-group
      .controls
        input#connect-nick(type="text", placeholder="Nickname", class="input-large", autofocus="autofocus")
    .control-group
      .controls
        input#connect-password(type="password", placeholder="Password (optional)", class="input-large")
    .control-group
      .controls
        input#connect-realName(type="text", placeholder="Real Name", class="input-large")
    .control-group
      .controls
        input#connect-away(type="text", placeholder="Away Message", value="AFK")
    .control-group
      .controls
        input#connect-rejoin(type="checkbox")
        p Bouncer Mode
    center
      a(id="connect-button", class="btn btn-primary btn-large", type="button") Connect

script(id="overview_settings", type="text/html")
  #home_parent
    a.overview_button#home Home
  p Coming soon.

script(id="overview_login", type="text/html")
  h1 Login
  #home_parent
    a.overview_button#home home
  form.form-horizontal
    .control-group
      .controls
        input#login-username(type="text", placeholder="Username", class="input-large", autofocus="autofocus")
    .control-group
      .controls
        input#login-password(type="password", placeholder="Password", class="input-large")
    center
      a(id="login-button", class="btn btn-primary btn-large", type="submit") Login

script(id="overview_register", type="text/html")
  h1 Registration
  #home_parent
    a.overview_button#home Home
  form.form-horizontal
    .control-group
      .controls
        input#register-username(type="text", placeholder="Username", class="input-large", autofocus="autofocus")
    .control-group
      .controls
        input#register-password(type="password", placeholder="Password", class="input-large")
    center
      a(id="register-button", class="btn btn-primary btn-large", type="button") Register

script(id="titlebar", type="text/html")
  .titlebar
    span(class="window_title") {{title}}
    span(id="topic") {{{topic}}}

script(id="chat", type="text/html")
  #main-window
    #chat-window
      #chat-bar.bar
      #chat-contents.bar
      #input-container.bar
        .input
          input(id="chat-input")
          a(id="chat-button", class="btn btn-primary btn-large disabled") Send
    #user-window
      #user-bar.bar
        .titlebar
          span(class='window_title') User List
      #user-list.bar
    

script(id="channel", type="text/html")
  span(class="channel-name") {{name}}
  {{#notStatus}}
  .close-button ×
  span(class="unread badge badge-important", title="Unread Messages") {{unread}}
  span(class="unread-mentions", title="Mentions in channel") {{unread_mentions}}
  {{/notStatus}}
  # #user-window
  #   #user-bar.bar
  #     .titlebar
  #       span(class='window_title') User List
  #   #user-list.bar

script(id="user_box", type="text/html")
  div
    i(class="icon-user icon-white")
    {{nick}}
  div
    i(class="icon-asterisk icon-white")
    {{server}}

script(id="userlist_user", type="text/html")
  div(class="userlist_user_activity")
    img(src="/assets/images/{{user_status}}.png")
    span(class="userlist_user_{{user_stats}}")
  div(class="userlist_user_info")
    div(class="userlist_user_name") 
    a(class="announce", data-toggle="modal", data-id="{{nick}}") 
      span(style="cursor: pointer;") {{role}}{{nick}}
      span(class="userlist_user_time") {{activity}}

script(id="link", type="text/html")
  a(target="_blank", href="{{link}}") {{link}}

script(id="image_embed", type="text/html")
  div
    a.hide_embed
      i(class="icon-chevron-up")
    a.show_embed.hide
      i(class="icon-chevron-down")
  .embed
    img(src="{{link}}")

script(id="youtube_embed", type="text/html")
  div
    a.hide_embed
      i(class="icon-chevron-up")
    a.show_embed.hide
      i(class="icon-chevron-down")
  .embed
    iframe(width="420", height="315", frameborder="0", allowfullscreen,
      src="http://www.youtube.com/embed/{{video_id}}?rel=0")

script(id="action", type="text/html")
  .chat_action
    b * {{user}}&nbsp;
    span {{content}}
  .chat-time
    span {{renderedTime}}

script(id="message", type="text/html")
  img(src="http://avatars.io/auto/{{{user}}}", width="50", height="50") 
  a(class="announce", data-toggle="modal", data-id="{{user}}") {{user}}: 
  {{content}}
  .pull-right
    abbr(class="timeago", title="{{renderedTime}}") 
      span less than a minute ago

# <abbr class="timeago" title="' + iso8601(new Date()) + '">' + jQuery.timeago(new Date()) + '</abbr>

script(id="join_part", type="text/html")
  span(class="{{type}}_img")
  span <b><a class="announce" data-toggle="modal" data-id="{{nick}}">{{nick}}</a></b> {{action}} the channel {{reason}} {{message}}

script(id="nick", type="text/html")
  span <b>{{oldNick}}</b> is now known as {{newNick}}

script(id="alert", type="text/html")
  .alert(class = "{{type}}")
    a(class="close", data-dismiss="alert", href="#") &times;
    {{content}}

  
